<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luxury Voyages</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
  <header>
    <h1>Welcome to Luxury Voyages</h1>
  </header>

  {{!-- Navbar --}}
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  </nav>

  <main>
    {{!-- Main Content will go here --}}
  </main>

</body>

</html>