<div id="curacao">
  <div class="fit-picture">
    <img src="./images/curacao.png" alt="Curacao Island" />
  </div>
  <h2>CURACAO</h2>
  <ul>
    <li>
      <h4><a
          href="/view-wiki?lat=12.3750478289861850&lng=-69.15983676910402000"
        >Snorkel and Beach Adventure Tour</a></h4>
      <p>Snorkel several locations on this 6 hour tour.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=12.1052049498248220&lng=-68.93812805414201000"
        >Curacao&#x27;s Colorful History Walking Tour</a></h4>
      <p>Take a journey through Curacao&#x27;s history through art.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=12.0752666608717160&lng=-68.86214375495912000"
        >Caracas Bay</a></h4>
      <p>Wanting a beach to spend the day at? Enjoy the beautiful beach of
        Caracas Bay.</p>
    </li>
  </ul>
</div>

<div id="aruba">
  <div class="fit-picture">
    <img src="./images/aruba.png" alt="Aruba Island" />
  </div>
  <h2>ARUBA</h2>
  <ul>
    <li>
      <h4><a
          href="/view-wiki?lat=12.5742507058028110&lng=-70.04423618316652000"
        >ATV to Aruba&#x27;s Secret Beach and Cave Pool</a></h4>
      <p>Take an off-road adventure through the &quot;Volcanic&quot; side of
        Aruba.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=12.5928055363052720&lng=-70.03303527832033000"
        >Aruba Horseback Beach and National Park Ride</a></h4>
      <p>Ride horseback across the beautiful beaches of Aruba, with stunning
        views.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=12.5717689479122260&lng=-70.04700958728792000"
        >Aruba Sunset Sail</a></h4>
      <p>Enjoy a relaxing boat cruise and enjoy the beautiful sunset of Aruba.</p>
    </li></ul>
</div>

<div id="amber-cove">
  <div class="fit-picture">
    <img src="./images/ambercove.png" alt="Amber Cove" />
  </div>
  <h2>AMBER COVE</h2>
  <ul>
    <li>
      <h4><a
          href="/view-wiki?lat=19.8351846049893260&lng=-70.77564239501955000"
        >Damajagua Waterfalls Adventure</a></h4>
      <p>Enjoy a hike through the forest, then jump and slide down the falls.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=19.8309861436115040&lng=-70.77169418334962000"
        >Nature Culture Excursion</a></h4>
      <p>Get to experience the nature of the Dominican Republic and the history
        of the island.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=19.8353460820570700&lng=-70.77667236328126000"
        >Cataman Day Trip</a></h4>
      <p>Go out to the ocean and enjoy some snorkeling, food, and beverages.</p>
    </li>
  </ul>
</div>

<div id="la-romana">
  <div class="fit-picture">
    <img src="./images/La-Romana.png" alt="La Romana" />
  </div>
  <h2>LA ROMANA</h2>
  <ul><li>
      <h4><a
          href="/view-wiki?lat=18.4232777560609440&lng=-68.97109508514406000"
        >Santa Domingo City Tour</a></h4>
      <p>Take a walk through the city and learn all about the history of La
        Romana</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=18.4208856841890660&lng=-68.96032333374025000"
        >Cataman Cruise to Catalina Island</a></h4>
      <p>Enjoy a boat ride to Catalina Island. Enjoy snorkeling, the beach, and
        lunch.</p>
    </li>
    <li>
      <h4><a
          href="/view-wiki?lat=18.5574145126338100&lng=-68.36345672607423000"
        >ATV Tour through Punta Cana</a></h4>
      <p>Enjoy an ATV ride while learning about Domincan culture and how they
        live.</p>
    </li>
  </ul>
</div>