 <div id="map">
    
 </div>
 
<form id="itin-create">
    FORM GOES HERE    
    <label for="summary">Title</label>
    <input type="text" id="itin-summary" name="summary">
    <label for="details">Details</label>
    <textarea id="itin-details" name="details" rows="4" cols="60"></textarea>
    <div>
        <p id="user_id"></p>
        <p id="wiki_id"></p>
        <p id="itin-url"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
    </div>
    <button id="itin-submit" class="btn btn-primary">Create</button>
</form>