 <div id="map">
    
 </div>
 
<div id="itinerary-create">
    FORM GOES HERE
    <label for="summary">Title</label>
    <input type="text" id="itin-summary" name="summary">
    <label for="details">Details</label>
    <textarea id="itin-details" name="details" rows="4" cols="60"></textarea>
    <div id="read-only">
        <p id="user_id"></p>
        <p id="wiki_id"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
    </div>
    {{!-- <p id="location"></p> --}}
</div>